# Virtual Environments
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc

# Local SQLite Database (keeps her attempts local)
math_tutor.db

# IDE configurations
.idea/
.vscode/

# Streamlit Local Secrets (Protects database credentials)
.streamlit/
.streamlit/secrets.toml

# GitHub
GitHubToken.txt

# uv
uv.lock
/pyproject.toml
